<div class="content">
    <div class="body">
        <h1>404</h1>
        <h3>OOOPS SORRY WE CAN'T FIND THAT PAGE</h3>
        <span>Either something went wrong or the page doesn't exist anytime</span>
        <mat-divider class="divider"></mat-divider>
        <button mat-raised-button color="primary">
            <a routerLink = "/">
                Home
            </a>
        </button>
    </div>
</div>
