.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.body{
    padding: 2em;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}
h1{
    font-size: 100px;
    font-weight: 100;
    padding: 0em;;
    margin: 0em;
}
.body .divider{
    margin: 1em;
    background-color: rgba(0, 0, 0, 0.6);;
}
.body button a{ 
    text-decoration: none;
    color: inherit;
}