<div class="carousel-root">
    <div class="controls">
        <div class="btns">
            <button class="btn btn-prev" (click) = "prev()" >
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button class="btn btn-next" (click) = "next()">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
        
    </div>
    <ngx-slick-carousel class="carousel" 
                            #slickModal="slick-carousel" 
                            [config]="slideConfig" 
                            >
            <div ngxSlickItem *ngFor="let movie of recommended" class="slide">
                <app-card [movie] = "movie" ></app-card>
            </div>
        </ngx-slick-carousel>
</div>
