/* .slick-slider {
    width: 90%;
    margin: auto;
    background: #000;
  }
  
  .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
  }
  
  .prev-slide.slick-disabled,
  .next-slide.slick-disabled {
    pointer-events: none;
    opacity: 0.2;
  }
  
  .prev-slide {
    
    left: -33px;
  }
  
  .next-slide {
    background: url(assets/images/nav-icon.png) no-repeat scroll -24px 0px;
    right: -33px;
  }
  
  .prev-slide:hover {
    background-position: 0px -53px;
  }
  
  .next-slide:hover {
    background-position: -24px -53px;
  } */
  .slick-slider {
    margin: auto;
  }
  
  .slide{
      padding: 10px;
      margin: 10px;;
  }
  .movie-carousel{
      padding: 5px;
      
  }
  .slick-track{
    border-top: 1px solid red;
  }

  .controls{
    display: flex;
    justify-content: flex-end;
    padding:0em 2em;
  }
  .btns{
    box-shadow: 1px 1px 3px 3px #eee;
  }
  .btn{
    border: none;
    outline: none;
    background-color: #fff;
    color: #6fb0ff;
  }
  