<mat-card class="example-card">
    <img    
        class="card-img" mat-card-image 
        [src]="getMovieImg()" 
        onerror="this.src='assets/error_img.png'"   
        alt="loading"
    >
    <mat-card-content class="card-content">
      <mat-card-title class="title">
        <a routerLink = "/movies/{{movie.id}}">
          {{movie.title | slice: 0:15}}
      </a>
      </mat-card-title>
      <p>
        {{ movie.overview | slice: 0:150   }}
      </p>
    </mat-card-content>
    <mat-card-actions class="actions">
      <span class="genres" *ngFor = "let genre of getMovieGenre()" >
          {{genre.name}}
      </span>
    </mat-card-actions>
  </mat-card>
  

