.example-card {
    max-width: auto;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .card-img{
    max-width: auto;
  }
  .title
  {
      height: 50px;
  }
  .card-content{
    height: 120px;
  }
  a{
    text-decoration: none;
  }
  .genres
  {
    color: rgba(0, 0, 0, 0.5);
    margin-right: 5px;
  }
  .actions{
    height: 40px;
    padding-left: 10px;
  }