.example-spacer {
    flex: 1 1 auto;
    
  }
  .link{
    text-decoration: none;
    color: inherit;
  }

  .example-form-field {
    width: 200px;
  }
.search
{
 display: flex;
 position: relative;
 justify-content: center;
 align-items: center;
 background-color: rgba(255, 255, 255, 0.2);
 padding: 7px;
 border-radius: 3px;
 margin-left: 1em;
 z-index: 2;
}
.search input{
  border: none;
  outline: none;
  background-color: transparent;  
  
  color: #fff;
  font-size: 16px;
}
::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.movie-results{
  background-color: #fff;
  color: #111;
  z-index: 1;
  position: absolute;
  top: 120%;
  left: 0px;
  width: 300px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 2px solid #3f51b5;
}
.movie-results ul{
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  padding: 10px 25px;
}
.movie-results ul li{
  margin: 0px;
  border-bottom: 1px solid #aaa;
  font-weight: 100;
  word-wrap: break-word;
  padding: 3px 5px;
  transition: background 0.1s linear;
}
.movie-results ul li:hover{
  background-color: #eee;
  color: blue;
}
.list-item{
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.movie-results span{
  display: block;
  width: 200px;
  word-wrap: break-word;
  white-space: normal
}
.hide{
  display: none;
}
a{
  color: inherit;
  text-decoration: none;
}

that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 9px;
}
*::-webkit-scrollbar-track {
  background: #eee;
}
*::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 20px;
  border: 3px solid #aaa;
}
.dark-window
{
  position: fixed;
  z-index: 1;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
}