    <mat-toolbar color="primary"  >
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>
            menu
          </mat-icon>
      </button>
      <span>
        <a class="link" routerLink="/movies">
          Popular movies
        </a>
      </span>
      <span >
        <form action="" class="search" >
          <mat-icon class="search-icon">search</mat-icon>   
          <input 
                #searchBox
                (input) = "search(searchBox.value)"
                type="text" 
                placeholder="search"
          >
          <div class="movie-results" [class.hide] = "!movies">
            <ul *ngIf = "movies$ | async"  >
              <li *ngFor = "let movie of movies "  >
                <a routerLink = "/movies/{{movie.id}}"  >
                <div class="list-item" (click) = "closeList(); searchBox.value = ''" >
                    <span>
                      {{movie.title}} 
                    </span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
              </a>
              </li>
            </ul>
          </div>
        </form>
      </span>
      <span class="example-spacer"></span>
      
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <div class="dark-window" *ngIf = "searchBox.value" (click) = "closeList(); searchBox.value=''" ></div>
    
