<!-- <div *ngIf = "loading">
    <app-loading></app-loading>
</div> -->
<div *ngIf="movie">
    <div class="root">
        <div class="media">
            <img  [src]="getMovieImg()" alt="image" onerror="this.src='assets/error_img.png'"    >
        </div>
        <div class="content">
            <span *ngFor = "let genre of movie.genres" class="genres">
                {{genre.name}}
            </span>
            <h1>{{movie.title}}</h1>
            <div class="everage">
                <span *ngFor = "let start of renderStars()" class="stars">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Example star icon">star_border</mat-icon>
                </span>
                <span class="vote-count">
                    (Vote count: {{movie.vote_count}} )
                </span>
            </div>
            <mat-divider class="divider"></mat-divider>
            <div class="overview">
                <p><b>Overview</b>:</p>
                <span>
                    {{movie.overview}}
                </span>
            </div>
            <mat-divider class="divider"></mat-divider>
            <div class="columns">
                <div>
                    <p class="column-header"><b>Production Companies:</b></p>
                    <p *ngFor = "let company of movie.production_companies">
                        -{{company.name}}
                    </p>
                </div>
                <div>
                    <p class="column-header" ><b>Contries:</b></p>
                    <p *ngFor = "let country of movie.production_countries">
                        -{{country.name}}
                    </p>
                </div>
                <div>
                    <p class="column-header" ><b>Languages:</b></p>
                    <p *ngFor = "let language of movie.spoken_languages">
                        -{{language.name}}
                    </p>
                </div>
            </div>
            <div class="go-home">
                <button mat-raised-button color="primary">
                    <mat-icon>keyboard_return</mat-icon>
                    <a routerLink = "/">
                        Go home
                    </a>
                </button> 
           </div> 
        </div>
        
    </div>
        <mat-divider class="divider"></mat-divider>
            <h1 class="recommended-title">Recomended movies</h1>            
        <mat-divider class="divider"></mat-divider>
        <div>
            <app-carousel [id] = "movie.id" ></app-carousel>
        </div>
</div>

