.root{
    padding: 1em;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.image{
    height: 500px;
}
.content{
    
    padding-top: 1em;
}
.content h1{
    font-size: 50px;
    font-weight: 100;
    margin: 0em;;
    color: rgba(0, 0, 0, 0.7);
}

.genres{
 color: rgba(0, 0, 0, 0.6);
}

.everage{
    display: flex;
    align-items: center;
}

.stars{
    color: gold;
}

.vote-count{
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 3px;
}
.divider{
    margin-top: 1.5em;
    margin-bottom: 1em;
}
.overview{
    color: rgba(0, 0, 0, 0.6);
}
.overview span{
    line-height: 26px;
}

.columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: rgba(58, 56, 56, 0.7);
}
.columns p{
    margin: 5px;
}
.column-header{
    margin-bottom: 10px !important;
}
.recommended-title{
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    margin: 0em;;
    color: rgba(0, 0, 0, 0.7);   
}
.go-home{
    margin-top: 2em;;
}
.go-home a{
    text-decoration: none;
    color: inherit;
}
.loading{
    position: absolute;
    z-index: 10;
    width: 90vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
