.loading{
    position: absolute;
    z-index: 10;
    width: 90vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
