<div *ngIf = "loading">
    <app-loading></app-loading>
</div>
<div *ngIf="movies">
    <mat-grid-list cols="4" rowHeight="400px" gutterSize = "10px" class="movies">
        <ul >
            <li *ngFor="let movie of movies">
                <mat-grid-tile class="grid-tile">
                    <app-card [movie]="movie"></app-card>
                </mat-grid-tile>
            </li>
        </ul>
        </mat-grid-list>
        <div class="movies-footer">
            <app-pagination 
                [page] = "movieData.page" 
                [total] = "movieData.total_pages"   
                (updatePage) = "updatePage($event)"  ></app-pagination>
        </div>
</div>

