<div class="pagination">
    <ul>
        <li class="prev" [class.disabled] = "page === 1" (click) = "setPage(page-1)" >
            <mat-icon>keyboard_arrow_left</mat-icon>
        </li>
        <li *ngIf = "page !== 1" (click) = "setPage(1)">
            1
        </li>
        <li *ngIf="page !== 1" >...</li>
        <li class="selected" >{{page}}</li>
        <li *ngIf = "page !== total">...</li>
        <li *ngIf = "page !== total" (click) = "setPage(total)"  >
            {{total}}
        </li>
        <li class="next" [class.disabled] = "page === total" (click) = "setPage(page+1)" >
            <mat-icon>keyboard_arrow_right</mat-icon>
        </li>
    </ul>
</div>