.pagination ul{
    list-style: none;
    display: flex;
}
.pagination ul li{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.selected {
    background-color: #1976d2;
    color: #fff;
}

.disabled{
    color: #aaa;
    border-color:#aaa;
    cursor:pinter;
}
.hide{
    display: none;
}